#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
  transition: all 0.5s ease-in-out;
  clip-path: circle();
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

#scrollToTopButton:hover {
  background: linear-gradient(180deg, #f3cdff 5%, #420092 100%);
}
